<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212283743555-8m7ogmki5cnu3ml0mujf2dl6v1vacrak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212283743555-8m7ogmki5cnu3ml0mujf2dl6v1vacrak</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFYEuHXXCgehevSnC6RoL-Roe5ostFKU</string>
	<key>GCM_SENDER_ID</key>
	<string>212283743555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shreyazh.calaminect11</string>
	<key>PROJECT_ID</key>
	<string>projectx-69cc</string>
	<key>STORAGE_BUCKET</key>
	<string>projectx-69cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212283743555:ios:a691002075ca68aead63f6</string>
</dict>
</plist>