<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calaminect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04A7CF0827FCCA6E0061C93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A7CF1E27FCCA6F0061C93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A7CF2827FCCA6F0061C93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
